<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Bienvenido <%= user.user %>!</h1>
    <h4>Password <%= user.password %></h4>
    <h4>Id <%= user.id %></h4>
    <form action="/signout" method="get">
      <button type="submit">Cerrar sesion</button>
    </form>
  </body>
</html>
